header {
  background-color: #080808;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header-image {
  width: 100vw; /* 60% of the viewport width */
  height: 30vh; /* 60% of the viewport height */
  object-fit: cover; /* Ensures the image covers the container without distortion */
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  font-size: 32px;
 
}

.nav-links li {
  margin-right: 10px;
}

.nav-links li a {
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.nav-links li a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    color: white;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }
}

.Home{
  color: green;
  font-size: 18px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}